### === Nette / PHP ===

# Composer
/vendor/
/composer.lock

# Nette runtime
/temp/
/log/

# Backend Nette
/src/backend_nette/vendor/
/src/backend_nette/temp/
/src/backend_nette/log/

# Local configs
.env.local
.env.*.local

# Tracy
/tracy/

# Cache
*.cache
*.log

### === IDE / OS ===

# PhpStorm
.idea/

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

### === Node / frontend 
/node_modules/
/.pnp
.pnp.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
/build/
/dist/
/out-tsc/

### === Testing ===

/coverage/

### === Misc ===

/tmp/

