services:
    mongoConnection:
        factory: App\Database\MongoConnection(%mongoUri%)

    mongoDatabase:
        factory: @mongoConnection::getDatabase

    jwtService:
        factory: App\Service\JwtService(%jwtSecret%)

    router:
        factory: App\Router\RouterFactory::createRouter

    - App\Repository\UserRepository
    - App\Repository\DeviceRepository
    - App\Service\AuthService
    - App\Service\DeviceService
application:
    mapping:
        *: App\Presentation\*Presenter